
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/* Centered text */
.centered {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -10%);
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@492&display=swap');

/* Container holding the image and the text */
.containerggt {
  position: relative;
  text-align: center;
  color: white;
  padding-bottom: 10%
}

.right {
  position: absolute;
  top: 300px;
  right: 106px;
  background-color: white;
  color: black;
  width: 500px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.205);
  white-space: normal;
}

.left {
  position: absolute;
  top: 400px;
  left: 60px;
  background-color: white;
  color: black;
  width: 500px;
  border-radius: 5px;
  text-align: center;
  box-shadow: -10px 5px 5px rgba(0, 0, 0, 0.205);
  white-space: normal;
}

.meet-the-team {
  margin-bottom: 10px;
}

a.href:link {
  color: #da5b01 !important;
  background-color: transparent;
  text-decoration: none;
}

.filler {
  padding-bottom: 5%;
  padding-top: 10%;
}

@media only screen and (max-width: 1238px) {

  .responsive {
    width: 100%;
    height: auto;
  }

  .right {
    position: absolute;
    top: 55%;
    background-color: white;
    color: black;
    width: 40%;
    border-radius: 5px;
    text-align: center;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.205);
    white-space: normal;
  }

  .left {
    position: absolute;
    top: 55%;
    left: 106px;
    background-color: white;
    color: black;
    width: 40%;
    border-radius: 5px;
    text-align: center;
    box-shadow: -10px 5px 5px rgba(0, 0, 0, 0.205);
    white-space: normal;
  }

  .filler {
    padding-bottom: 5%;
    padding-top: 10%;
  }
}

    .btn-brown,
    .btn-brown:hover,
    .btn-brown:active,
    .btn-brown:visited {
      color: white;
      background-image: url("img/camo.jpg");
    }

    .footer-image {
      margin-left: auto;
      margin-right: auto;
      display: block;
    }

    .button {
      margin-left: auto;
      scroll-margin-right: 50%;
      font-family: verdana;
      color: #FFFFFF !important;
      font-size: 14px;
      text-shadow: 0px 0px 0px #FFFFFF;
      box-shadow: 0px 0px 0px #BEE2F9;
      padding: 12px 18px;
      border-radius: 17px;
      border: 0px solid #3866A3;
      transition: 0.3s ease-in-out;
      background-color: #CC5500;
    }

    .button:hover {
      transition: 0.3s ease-in-out;
      color: #FFFFFF !important;
      filter: brightness(50%);
    }

    #footerbottom {
      margin-top: 3%;
      background-color: black;
      background-repeat: no-repeat;
      height: 300px;
      width: auto;
    }